{% extends 'pz/layout.twig' %}
{% block extraBodyClass %}page-files{% endblock %}

{% block asset %}
    <link rel="stylesheet" href="{{ asset('build/cms-files.css') }}" as="style" rel="preload">
    <script src="{{ asset('build/cms-files.js') }}" async defer></script>
{% endblock %}

{% set currentFolderId = app.request.get('currentFolderId') ?: 0 %}
{% set keyword = app.request.get('keyword') %}

{% block extraHeaderLeft %}
    <h2>Manage <label class="label label-warning-light">Files</label></h2>
{% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        {% include 'pz/html/file-manager.html.twig' %}
    </div>
{% endblock %}

{% block extraFooter %}
    <script id="loading" type="text/x-handlebars-template">{% include 'pz/javascript/loading.twig' %}</script>
    <script id="folder" type="text/x-handlebars-template">{% include 'pz/javascript/fm-folders.twig' %}</script>
    <script id="file" type="text/x-handlebars-template">{% include 'pz/javascript/fm-files.twig' %}</script>
    <script id="nav" type="text/x-handlebars-template">{% include 'pz/javascript/fm-nav.twig' %}</script>
{% endblock %}

