{% macro nav(node, depth, curr) %}
    {% from _self import nav as nav %}
    {% if node.status == 1 %}
        <li {% if node.contains(curr) %}class="active"{% endif %}>
            <a href="{{ node.url }}">
                {% if node.extras.icon is defined %}<i class="{{ node.extras.icon }}"></i>{% endif %}
                <span class="nav-label">{{ node.title }}</span>
                {% if node.hasActiveChildren %}
                    <span class="fa arrow"></span>
                {% endif %}
            </a>
            {% if node.hasActiveChildren %}
                <ul class="nav nav-second-level">
                    {% for itm in node.children %}
                        {{ nav(itm, depth + 1, curr) }}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endmacro %}
