{% extends 'base.html.twig' %}

{% block bodyClass %}cart{% endblock %}

{% block contentWrapper %}
    <div class="features-1">
        <div class="container pt-5">

            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <hr />
                    <h2 class="title">Your purchase was unsuccessful.</h2>
                    <h5 class="description"> If you are having trouble or problems with your order, contact us and we will check out the transaction.<br />
                        <a href="/wine" >Return to the shop.</a>
                    </h5>
                </div>
            </div>

            <div class="row pt-5">
                <div class="col-md-6 mx-auto">
                    <h5 class="description text-center">Your order identifier is <strong>#{{ orderContainer.uniqid }}</strong></h5>
                    <div class="table-responsive">
                        {% include 'pz/cart/common/order-pricing.html.twig' with { orderContainer: orderContainer } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}