{% extends 'base.html.twig' %}

{% block bodyClass %}cart{% endblock %}


{% block contentWrapper %}
    <div class="features-1">
        <div class="container pt-5">

            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <hr />
                    <h2 class="title">Your order has been completed successfully!</h2>
                    <h5 class="description"> Thank you for your purchase. Your order identifier is <strong>#{{ orderContainer.uniqid }}</strong>.
                        An email confirmation of your purchase has been sent to your email address.</h5>
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-6 mx-auto">
                    <div class="table-responsive">
                        {% include 'pz/cart/common/order-pricing.html.twig' with { orderContainer: orderContainer } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}