{% extends 'base.html.twig' %}

{% form_theme form 'form.twig' %}

{% block bodyClass %}full-screen page-login{% endblock %}

{% block contentWrapper %}
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/images/home-about.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="card-title">Forget Your Password?</h3>
                            <form method="post" class="settings-form" novalidate autocomplete="off">
                                {{ form_label(form.title) }}
                                {{ form_widget(form.title, {attr: {class: 'form-control',placeholder:'Email'}}) }}
                                {{ form_errors(form.title) }}
                                {{ form_rest(form) }}
                                <button class="btn btn-default btn-block btn-round">Submit</button>
                            </form>
                            <div class="forgot">
                                <a href="/login" class="btn btn-link btn-primary">&#10096; Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}