@import url(//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600,700);
html,
body {
  height: auto !important;
}
body .jstree-node > a {
  /* 100% - (the width of the presentation node : the line - the left padding of the <a> node - the right padding of the <a> node)*/
  width: calc(71%);
  text-overflow: ellipsis;
  overflow: hidden;
}
body #side-menu .nav-label {
  height: 17.15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #side-menu > li:hover ul .nav-label {
  display: block !important;
}
body .pz-nav li {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .file-box {
  position: relative;
  background: #f3f3f4;
  border: 1px solid #f3f3f4;
  margin: .5em;
}
body .file-box .pz-file-delete {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9;
  margin-right: -15px;
  margin-top: -15px;
}
body .file-box .file {
  margin: 0;
}
body .file-box .file img {
  width: 100%;
}
body .file-box .file .file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body .max-1000 {
  max-width: 1000px;
}
body .ibox-content input[type=text],
body .ibox-content input[type=email],
body .ibox-content input[type=password],
body .ibox-content textarea,
body .ibox-content select {
  font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif;
  border-radius: 3px;
  border: 1px solid #ddd;
}
body .ibox-content input[type=text],
body .ibox-content input[type=email],
body .ibox-content input[type=password] {
  height: 45px;
  padding: 0.6em 1em !important;
}
body .chosen-drop input[type=text] {
  height: 35px !important;
}
body .ibox-content input[type=text],
body .ibox-content input[type=email],
body .ibox-content input[type=password],
body .ibox-content textarea {
  font-size: 115%;
  padding: 0.6em 1em !important;
}
body .ibox-content input[type=text]:focus,
body .ibox-content input[type=email]:focus,
body .ibox-content input[type=password]:focus,
body .ibox-content textarea:focus,
body .ibox-content select:focus {
  background: #faf5df;
  border-color: #e3d38e;
}
body .redactor-box textarea:focus {
  background: #000 !important;
  border-color: #000 !important;
}
body .redactor-editor * {
  font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif !important;
  font-size: 105% !important;
}
body .ibox-content .row > div > label,
body .box > label {
  font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif;
  font-size: 115%;
}
body .navbar-static-side {
  font-family: "Titillium Web", "Helvetica Neue", Arial, sans-serif;
  font-size: 105%;
}
body .box.wysiwyg {
  background: #eee;
  padding: 1em 2em;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 1em 0;
}
body .table-middle td {
  vertical-align: middle !important;
}
.page-content .content-block-sidebar {
  min-width: 250px;
  position: fixed;
  right: 0;
}
.page-content .content-block-sidebar .sidebar-submit {
  padding: 5px 10px;
}
.page-content .content-block-sidebar .sidebar-submit [type=submit]:last-child {
  margin-right: 5px;
}
.page-content .section-blocks {
  min-height: 100px;
}
.page-content .box {
  display: inline-block;
  width: 44.4%;
  margin: 0 5px 5px 0;
  min-height: 6.5em;
  vertical-align: top;
}
.page-content .box.textarea,
.page-content .box.wysiwyg,
.page-content .box.blocks,
.page-content .box.formbuilder,
.page-content .box.formdata,
.page-content .box.content_block_item,
.page-content .box.content_block {
  width: 88.8%;
}
.page-content .box.content_block .left {
  float: left;
}
.page-content .box.content_block .left h2 {
  margin-bottom: 0;
  color: #0e9aef;
}
.page-content .box.content_block .left h4 {
  display: inline;
  margin-right: .5em;
}
.page-content .box.content_block .right {
  float: right;
}
.page-content .box.content_block .right select {
  width: 10em;
  display: inline;
}
.page-content .box.content_block .right a {
  margin-left: .5em;
}
.page-content .box.content_block .first-row {
  margin-bottom: 1.5em;
}
.page-content .box.content_block .panel-heading .right button {
  width: 20px;
  height: 20px;
  line-height: 0;
  font-size: 10px;
  padding: 0;
}
.page-content .box.content_block .panel-body .inner-box {
  padding-bottom: .5em;
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.page-content .box.content_block .panel-body .inner-fullwidth {
  width: 98%;
}
.page-content .box label {
  display: block;
  font-weight: bold;
  padding-left: 0;
}
.page-content .box select,
.page-content .box input[type=text],
.page-content .box input[type=email],
.page-content .box input[type=password],
.page-content .box textarea {
  height: 3em;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: .2em .5em;
  width: 100%;
}
.page-content .box input[type=checkbox] {
  margin-left: 0;
}
.page-content .box textarea {
  min-height: 10em;
  resize: vertical;
}
.page-content .wrapper-content form .box.assetpicker .image-holder {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
.page-content .box.formdata ul {
  list-style-type: none;
  margin: 1em 2em;
  padding: 0;
}
.page-content .box.formdata .name {
  display: inline-block;
  min-width: 10em;
  background: #eee;
  margin: .2em;
  padding: .5em 1em;
  text-align: right;
  vertical-align: top;
}
.page-content .box.formdata .content {
  display: inline-block;
  padding: .5em 1em;
  vertical-align: top;
}
.page-content .submit-container {
  margin: 0 5px 5px 0;
  width: 88.8%;
}
.page-content .submit-container input[type=submit] {
  margin-left: .5em;
}
.page-content ul.formValidationErrors {
  padding-left: 0;
}
.page-content .formValidationError {
  background: #e92814 none repeat scroll 0 0;
  border-radius: 4px;
  color: #fff;
  display: block;
  line-height: normal;
  margin: 0 0 1em;
  overflow: hidden;
  padding: 4px 9px;
  text-align: center;
  width: auto;
}
.page-files .pz-sidebar .pz-search {
  padding: 0 .5em !important;
  height: 34px;
}
.page-files .pz-main .pz-nav {
  float: left;
}
.page-files .pz-main .pz-tools {
  float: right;
}
.page-files .pz-main .ui-sortable-handle {
  cursor: move;
}
.page-files .pz-main .ui-sortable-placeholder {
  background: lightyellow !important;
}
